<body>
    <footer class="footer">
        <div class="footer-container">
          <div class="footer-left">
            <p>&copy; 2024 [Government Agency]. All Rights Reserved.</p>
          </div>
          <div class="footer-middle">
            <ul class="footer-links">
              <li><a href="/about">About Us</a></li>
              <li><a href="/contact">Contact Us</a></li>
              <li><a href="/privacy-policy">Privacy Policy</a></li>
              <li><a href="/terms-of-service">Terms of Service</a></li>
              <li><a href="/accessibility">Accessibility</a></li>
            </ul>
          </div>
          <div class="footer-right">
            <p>Follow Us:</p>
            <a href="https://twitter.com/[governmentagency]" target="_blank" aria-label="Twitter"><img src="twitter-icon.png" alt="Twitter"></a>
            <a href="https://facebook.com/[governmentagency]" target="_blank" aria-label="Facebook"><img src="facebook-icon.png" alt="Facebook"></a>
            <a href="https://linkedin.com/company/[governmentagency]" target="_blank" aria-label="LinkedIn"><img src="linkedin-icon.png" alt="LinkedIn"></a>
          </div>
        </div>
      </footer>
      
</body>