<%- layout("/layouts/boilerplate.ejs") %>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
<div class="login-body">
    <div class="login-container container " id="container" style="width: 70%;">
        <div class="login-form-container">
            <form>
                <h1>Sign In</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for sign in</span>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <a href="#">Forget Your Password?</a>
                <button class="signin-submit-btn"><a href="/student/dashboard">Sign In</a></button>
                <a href="/signup" class="signup-link">Don't have an account? Sign Up</a>
            </form>
        </div>
        <div class="login-image-container">
            <img src="/images/login.jpg" alt="Login Image">
        </div>
    </div>
    
</div>
    <script src="script.js"></script>
</body>
